################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DBOperationsWithEFCoreApp/.vs/DBOperationsWithEFCoreApp
/DBOperationsWithEFCoreApp/obj/
